.checkoutProduct{
    display: flex;
    margin: 20px 20px;
}
.checkoutProduct_image{
    object-fit: contain;
    width:180px ;
    height: 180px;
}
.checkoutProduct_info{
    padding-left: 20px;
}

.checkoutProduct_title{
    font-size: 17px;
    font-weight: 600;
}
.checkoutProduct_rating{
    display: flex;
}
.checkoutProduct_removebutton{
    background-color: #eebd4b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 20px;
}
.checkoutProduct_removebutton:hover{
background-color: #faf9f6;
cursor: pointer;

}