.checkout{
    display: flex;
    padding: 20px;
    background-color: white;
    max-height: max-content;
}

.checkout_title{
    padding: 10px;
    margin-right: 10px;
    border-bottom: 3px solid lightgrey;
}
.checkout_ad{
    width: 100%;
    /* object-fit: contain; */
    margin-bottom: 10px;
}

