.header{
    background-color: #131921;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 100;
}
.header_logo{
    width: 100px;
    object-fit: contain;
    margin-top: 18px;
    margin-right: 20px;
    margin-left: 20px;
}

.header_optionBasket{
    display: flex;
    align-items: center;
}
.header_basketCount{
    margin-left: 10px;
    margin-right: 10px;
}
.header_nav{
    display: flex;
    justify-content: space-evenly;
}
.header_option{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 10px;
}
.header_optionLineone{
    font-size: 10px;
}
.header_optionLinetwo{
    font-size: 13px;
    font-weight: 800;
}
.header_link{
    color: white;
    text-decoration: none;
}
.header_search{
    display: flex;
    flex: 1;
}
.header_searchInput{
    height: 22px !important;
    /* padding: 2px; */
    border: none;
    width: 100%;
}
.header_searchIcon{
    background-color: rgb(228, 145, 37);
}