.login{
    height: 100vh;
    background-color: white;
    display: flex;
    flex-direction:column;
    align-items: center;
    width: 100%;
}
.login_logo{
    margin-top: 20px;
    margin-bottom: 20px;
    object-fit: contain;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
}
.login_container{
    width: 300px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border:1px solid lightgrey;
    padding: 20px;
}
.login_container > h1{
    font-weight: 500;
    margin-bottom: 20px;
}
.login_container >form> h5{
    margin-bottom: 5px;
}
.login_container > form > input{
    margin-bottom: 10px;
    height: 25px;
    background-color: white;
    width: 90%;
    border-radius: 3px;
}
.login_container > p{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 12px;
    font-style: italic;
}
.login_signInButton{
    background-color: #eebd4b;
    border: 1px solid;
    border-color: #a88734 #9c7e31 #846a29;
    width: 100%;
    border-radius: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}
.login_registerButton{
    padding-bottom: 5px;
    padding-top: 5px;
}